<app-nav-bar />

<main class="contenido-principal container">
    <h2 class="text-center">Nuestros Productos</h2>
    
    <div class="listado-productos">

        <div class="producto">
            <img src="../../../../assets/images/muebles/producto1.jpg" alt="Imagen Producto 1">
            <div class="texto-producto">
                <h3>Producto 1</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Facilis natus cupiditate soluta similique id praesentium
                </p>
                <p class="precio">$1,000,000.00</p>
                <a class="btn" href="#">Agregar al Carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="../../../../assets/images/muebles/producto2.jpg" alt="Imagen Producto 2">
            <div class="texto-producto">
                <h3>Producto 2</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Facilis natus cupiditate soluta similique id praesentium
                </p>
                <p class="precio">$1,000,000.00</p>
                <a class="btn" href="#">Agregar al Carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="../../../../assets/images/muebles/producto3.jpg" alt="Imagen Producto 3">
            <div class="texto-producto">
                <h3>Producto 3</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Facilis natus cupiditate soluta similique id praesentium
                </p>
                <p class="precio">$1,000,000.00</p>
                <a class="btn" href="#">Agregar al Carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="../../../../assets/images/muebles/producto4.jpg" alt="Imagen Producto 4">
            <div class="texto-producto">
                <h3>Producto 4</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Facilis natus cupiditate soluta similique id praesentium
                </p>
                <p class="precio">$1,000,000.00</p>
                <a class="btn" href="#">Agregar al Carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="../../../../assets/images/muebles/producto5.jpg" alt="Imagen Producto 5">
            <div class="texto-producto">
                <h3>Producto 5</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Facilis natus cupiditate soluta similique id praesentium
                </p>
                <p class="precio">$1,000,000.00</p>
                <a class="btn" href="#">Agregar al Carrito</a>
            </div>
        </div>

        <div class="producto">
            <img src="../../../../assets/images/muebles/producto6.jpg" alt="Imagen Producto 6">
            <div class="texto-producto">
                <h3>Producto 6</h3>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Facilis natus cupiditate soluta similique id praesentium
                </p>
                <p class="precio">$1,000,000.00</p>
                <a class="btn" href="#">Agregar al Carrito</a>
            </div>
        </div>

    </div>
</main>

<app-footer />