<header class="nombre-sitio">
    <h1>
        Tienda
        <span>Muebles</span>
    </h1>
</header>

<div class="nav-container ">
    <nav class="nav-principal container">
        <a [routerLink]="['/muebles/dashboard']">Inicio</a>
        <a [routerLink]="['/muebles/nosotros']">Nosotros</a>
        <a [routerLink]="['/muebles/tienda']">Tienda</a>
        <a [routerLink]="['/muebles/blog']">Blog</a>
        <a [routerLink]="['/muebles/galeria']">Galería</a>
        <a [routerLink]="['/muebles/contacto']">Contacto</a>
    </nav>
</div>
