<app-nav-bar />

<main class="contenido-principal container">
    <h2 class="text-center">Sobre Nosotros</h2>

    <div class="contenido-nosotros">
        <div class="imagen">
            <img src="../../../../assets/images/muebles/nosotros.jpg" alt="Imagen Nosotros">
        </div>
        <div class="informacion-nosotros">
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Alias doloribus et id? Distinctio exercitationem quaerat
                Nulla inventore ipsa quaerat, eligendi maxime repudiandae,
                aspernatur blanditiis mollitia ducimus animi. Illo!
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Alias doloribus et id? Distinctio exercitationem quaerat
                Nulla inventore ipsa quaerat, eligendi maxime repudiandae,
                aspernatur blanditiis mollitia ducimus animi. Illo!
            </p>
        </div>
    </div>
        
</main>

<app-footer />
